<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>In the Know: Nerdy News</title>
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="/app.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>